.income-card{
    background: #ffb7d5;
    padding: 8px 0;
    color:white;
    text-align:center;
    border-radius:15px;
    padding-top:30px;
    transition: .5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.rent-status{
    border:3px solid #ffe9f2;
    border-radius:15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    transition: .5s;
}

.single-status{
 margin-left: 30px;
 padding:20px 0px;
   
}

@media only screen and (max-width: 1550px) {

    .rent-status{
        display: block;
        text-align: center;
        padding: 20px 0px;
    }

    .single-status{
        margin-left: 0px;
        padding:20px 5px;
          
       }
}